@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Nota Serif, sans-serif;
    color: #65350F;
    background-color: rgb(255, 253, 208);
    text-align: center;
}

/*Style navbar image in circle*/
.home-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
margin-left: 30px;
}

/* Headings*/
h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    color: #2E1503;
}

/* Navigation Links */

.navbar-nav {
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 2px;
     
}

.navbar-band { 
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size:  200%;
     color: #2E1503;    
     padding-top: 6px;
    
}


.navbar-band:hover {
    color: #2E1503;
}
.navbar-nav, .nav-link, .navbar-light {
    color: #2E1503;    
}

.nav-link:hover {
border-bottom: 1px solid #fff;
color: #fff;
}

.nav-item {
    list-style-type: none;
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}

.navbar {
    background-color: rgba(240, 112, 112);
width: 100%;
}


/* Styling images*/

img {
    vertical-align: middle;
}


.img-container {
    margin: 30px;
}

/*Style title*/

.hero-title {
    font-weight: 600;
    font-size: 300%;
    text-align: center;
    margin: 30px 0 30px 0;
}

/*Carousel*/

.carousel-inner > .carousel-item > img {
    width: 640px;
    height: 500px;
    }



/* Column images*/

.column-image img {
max-width: 100%;
max-height: 100%;
}

.column-image  {
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
padding-top: 30px;
padding-bottom: 30px;

}

/* Button style*/
.btn-dark i {
    padding: 0 4px 0 4px;
    }

.btn-dark {
    font-size: medium;
    background-color: #2E1503;
    color: #fff;
}

.btn-dark:hover {
    background-color: #fff;
    color: #2E1503;
}

/*Scoop range style*/

.title {
    font-size: 300%;
    font-weight: 600;
    padding-top: 30px;
}

.scoop-range {
    font-size: 200%;
    font-weight: 300;
}

.right-text {
    text-align: right;
    padding-top: 25px;
}

.left-text {
    padding-top: 25px;
    padding-left: 30px;;
    text-align: left;
}

.scoop-section-bg-color {
    background-color: #ffE6EE;
}

.sundae-section {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
   margin-right: auto;
   margin-left: auto; 
    
}

/*To set images of same size*/

.set-width {
    width: 400px;
    height: 400px;
}

/*footer*/

footer {
    overflow: hidden;
    position: relative;
    clear: both;
    height: 200px;
    background-color:  rgba(240, 112, 112);
}

.footer-logo {
    position: absolute;
    margin: 75px 30px 0;
    color: #2E1503;
}

footer > p {
    clear: both;
    text-align: center;
    color: #2E1503;
    bottom: 0;
}

.logo2, .footer-logo, .copyright {
 font-family: Montserrat, sans-serif;
 font-weight: 700;
 font-size: small;
 color: #2E1503;
}

.social-icons {
    float: right;
    margin: 75px 30px 0;
}

.social-icons li {
    display: inline;
}

.social-icons i {
    font-size: 2rem;
    padding: 6px;
    color: #2E1503;
}

.social-icons li a i:hover {
    color: #fff;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 28px;
    padding-left: 30px;
    
}

/*Style small screen sizes from 425px wide and down*/

@media screen and (max-width: 445px) {
    .footer-logo {
        width: 100%;
        text-align: center;
        margin: 50px 0;
        display: block;
    }
    .social-icons {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 20px;
        padding-right: 60px;
    }
    .copyright {
        width: 100%;
        text-align: center;
        margin: 100px 0;
    }
}


/* Icecream Page*/
/*Style Heading and sub-menu*/

.nav-menu a {
text-decoration: none;
color: #65350F;
font-weight: 200;
font-size: 120%;
margin-left: 30px;
padding-right: 30px;
}

.nav-menu a:hover {
    border-bottom: 1px solid #2E1503;
    }

.ice-section {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 120%;
    font-weight: 200;
}

/*Style scoop section and ice cream cake section*/
.sub-title {
    font-size: 200%;
    font-weight: 600;
}

.sub-section {
    font-size: 120%;
    font-weight: 200;
}

/*Style Back to top anchor*/
#back-to-top {
    background-color: #2E1503;
    color: #fff;
    text-decoration: none;
    font-size: 120%;
}

#back-to-top:hover {
    background-color: #fff;
    color: #2E1503;
}

/*Style contact page*/
/*table*/

th, td {
    border-bottom: 1px solid #2E1503;
}

/* Style Sign up form*/
.signup-form {

    color: #2E1503;
    background-color: #ffE6EE;

}

.center-text {
    padding-top: 25px;
}

/*Explore Page*/
/*Large image in sundae bar, milkshake bar and chocolate bar shake*/

.set-width-img {
    width: 500px;
    height: 500px;
}

/*adding more padding to section of explore page*/
.sundae-section {
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
}