@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Nota Serif, sans-serif;
    /* font-weight: 200; */
    color: #65350F;
    background-color: rgb(255, 253, 208);
    
}

/*Style navbar image in circle*/
.home-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

/* Headings*/
h1, h2 {
    font-family: Montserrat, sans-serif;
    /* font-weight: 900; */
    letter-spacing: 2px;
    color: #2E1503;
}

/* Navigation Links */

.navbar-nav {
    font-size: 110%;
    letter-spacing: 2px;
    padding-left: 25rem;
     margin-right: 15px;     
}

.navbar-band { 
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size:  x-large;
     color: #2E1503;    
     margin-left: 30px;

    }

.navbar-band:hover {
    color: #2E1503;
}
.navbar-nav, .navbar-link .navbar-light {
    color: #2E1503;    
}

.nav-link {
list-style-type: none;
    margin-left: 25px;
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
border-bottom: 1px solid #fff;
color: #fff;
}

.navbar {
    background-color: rgba(240, 112, 112);

}


/* Styling images*/

img {
    vertical-align: middle;
}


.img-container {
    margin: 30px;
}

/*Style title*/

.hero-title {
    font-weight: 900;
    font-size: 400%;
    text-align: center;
    margin: 30px 0 30px 0;
}

/*Carousel*/

@media only screen and (min-width: 1024px) {
    .carousel-item img {
        height: 600px;
        object-fit: contain;
    }
} 

/* Column images*/
.column-image img {
   max-width: 100%;
    max-height: 100%;
}
.column-image {
    /* padding: 0 20px 0 20px; */
}

.right-text {
    text-align: right;

}

.scoop-range {
    font-size: 200%;
    font-weight: 300;
}

.btn-dark i {
    font-size: 12px;
    padding: 0 4px 0 4px;
    margin: 30px;
    
}


.scoop-section-bg-color {
    background-color: #FFE6EE;
}

.title {
    font-size: 300%;
    font-weight: 600;
    padding-top: 30px;
    
}