@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Nota Serif, sans-serif;
    color: #65350F;
    background-color: rgb(255, 253, 208);
    
}

/*Style navbar image in circle*/
.home-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
margin-left: 30px;
}

/* Headings*/
h1, h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    color: #2E1503;
}

/* Navigation Links */

.navbar-nav {
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 2px;
     
}

.navbar-band { 
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size:  200%;
     color: #2E1503;    
     padding-top: 6px;
    
}


.navbar-band:hover {
    color: #2E1503;
}
.navbar-nav, .navbar-link .navbar-light {
    color: #2E1503;    
}

.nav-link {
list-style-type: none;
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
border-bottom: 1px solid #fff;
color: #fff;
}

.nav-item {
    margin-right: 20px;
}

.navbar {
    background-color: rgba(240, 112, 112);
width: 100%;
}


/* Styling images*/

img {
    vertical-align: middle;
}


.img-container {
    margin: 30px;
}

/*Style title*/

.hero-title {
    font-weight: 900;
    font-size: 400%;
    text-align: center;
    margin: 30px 0 30px 0;
}

/*Carousel*/

.carousel-inner > .carousel-item > img {
    width: 640px;
    height: 500px;
    }



/* Column images*/

.column-image img {
max-width: 100%;
max-height: 100%;
}

.column-image  {
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    padding-left: 25px;
    padding-right: 25px;
}

.column-image .caption {
    
    padding-left: 30px;
}

.row {
padding-top: 30px;
padding-bottom: 30px;

}

/* Button style*/
.btn-dark i {
    font-size: 12px;
    padding: 0 4px 0 4px;
    }

.btn-dark {
    font-size: medium;
    background-color: #2E1503;
    color: #fff;
}

.btn-dark:hover {
    background-color: #fff;
    color: #2E1503;
}

/*Scoop range style*/

.title {
    font-size: 300%;
    font-weight: 600;
    padding-top: 30px;
    /* padding-right: 30px; */
    
}

.scoop-range {
    font-size: 200%;
    font-weight: 300;
    /* padding-left: 20px; */
    /* margin-left: 20px; */
}

.right-text {
    text-align: right;
    padding-top: 25px;
}

.left-text {
    padding-top: 25px;

}
.scoop-section-bg-color {
    background-color: #ffE6EE;
}

.sundae-section {
    /* padding-left: 30px; */
    width: 100%;
    /* padding-bottom: 30px; */
}

/*To set images of same size*/

.set-width {
    width: 300px;
    height: 300px;
}

/*footer*/

footer {
    overflow: hidden;
    position: relative;
    clear: both;
    height: 200px;
    background-color:  rgba(240, 112, 112);
}

.footer-logo {
    position: absolute;
    margin: 75px 30px 0;
    color: #2E1503;
}

footer > p {
    clear: both;
    text-align: center;
    color: #2E1503;
    bottom: 0;
}

.logo2, .footer-logo, .copyright {
 /* margin: 20px; */
 font-family: Montserrat, sans-serif;
 font-weight: 700;
 font-size: small;
 color: #2E1503;
}

.social-icons {
    float: right;
    margin: 75px 30px 0;
}

.social-icons li {
    display: inline;
}

.social-icons i {
    font-size: 2rem;
    padding: 6px;
    color: #2E1503;
}

.social-icons li a i:hover {
    color: #fff;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 28px;
    padding-left: 30px;
    
}

/*Style small screen sizes from 425px wide and down*/

@media screen and (max-width: 425px) {
    .footer-logo {
        width: 100%;
        text-align: center;
        margin: 50px 0;
        display: block;
    }
    .social-icons {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 20px;
        padding-right: 60px;
    }
    .copyright {
        width: 100%;
        text-align: center;
        margin: 90px 0;
    }
}
